.terraform.*
.terraform/*
*.tfstate*
*.tfvars
*.swp
**/.envrc
**/.DS_store
**/.terraform
sof/terraform.tfvars
.*.sw?
.idea
terragrunt.iml
vendor
.terraform
.vscode
*.tfstate
*.tfstate.backup
*.out
.terragrunt-cache
.bundle
.ruby-version
terragrunt
.DS_Store
mocks/
.go-version
envs/minio.pem
