.terraform.*
.terraform/*
*.tfstate*
*.tfvars*
sof-aws/rede/.terraform/modules/modules.json
sof-aws/rede/.terraform/modules/zones/CHANGELOG.md
sof-aws/rede/.terraform/modules/zones/LICENSE
sof-aws/rede/.terraform/modules/zones/README.md
sof-aws/rede/.terraform/modules/zones/terragrunt_59.md
sof-aws/rede/.terraform/modules/zones/examples/complete/main.tf
sof-aws/rede/.terraform/modules/zones/examples/complete/outputs.tf
sof-aws/rede/.terraform/modules/zones/examples/complete/README.md
sof-aws/rede/.terraform/modules/zones/examples/complete/variables.tf
sof-aws/rede/.terraform/modules/zones/examples/complete/versions.tf
sof-aws/rede/.terraform/modules/zones/modules/delegation-sets/main.tf
sof-aws/rede/.terraform/modules/zones/modules/delegation-sets/outputs.tf
sof-aws/rede/.terraform/modules/zones/modules/delegation-sets/README.md
sof-aws/rede/.terraform/modules/zones/modules/delegation-sets/variables.tf
sof-aws/rede/.terraform/modules/zones/modules/delegation-sets/versions.tf
sof-aws/rede/.terraform/modules/zones/modules/records/main.tf
sof-aws/rede/.terraform/modules/zones/modules/records/outputs.tf
sof-aws/rede/.terraform/modules/zones/modules/records/README.md
sof-aws/rede/.terraform/modules/zones/modules/records/variables.tf
sof-aws/rede/.terraform/modules/zones/modules/records/versions.tf
sof-aws/rede/.terraform/modules/zones/modules/resolver-rule-associations/main.tf
sof-aws/rede/.terraform/modules/zones/modules/resolver-rule-associations/outputs.tf
sof-aws/rede/.terraform/modules/zones/modules/resolver-rule-associations/README.md
sof-aws/rede/.terraform/modules/zones/modules/resolver-rule-associations/variables.tf
sof-aws/rede/.terraform/modules/zones/modules/resolver-rule-associations/versions.tf
sof-aws/rede/.terraform/modules/zones/modules/zones/main.tf
sof-aws/rede/.terraform/modules/zones/modules/zones/outputs.tf
sof-aws/rede/.terraform/modules/zones/modules/zones/README.md
sof-aws/rede/.terraform/modules/zones/modules/zones/variables.tf
sof-aws/rede/.terraform/modules/zones/modules/zones/versions.tf
sof-aws/rede/.terraform/providers/registry.terraform.io/hashicorp/aws/4.61.0/windows_amd64/terraform-provider-aws_v4.61.0_x5.exe
