.terraform.*
.terraform/*
*.tfstate*
*.tfvars*
sof-aws/rede/.terraform/modules/modules.json
sof-aws/rede/.terraform/modules/zones/CHANGELOG.md
sof-aws/rede/.terraform/modules/zones/LICENSE
sof-aws/rede/.terraform/modules/zones/README.md
sof-aws/rede/.terraform/modules/zones/terragrunt_59.md
sof-aws/rede/.terraform/modules/zones/examples/complete/main.tf
sof-aws/rede/.terraform/modules/zones/examples/complete/outputs.tf
sof-aws/rede/.terraform/modules/zones/examples/complete/README.md
sof-aws/rede/.terraform/modules/zones/examples/complete/variables.tf
sof-aws/rede/.terraform/modules/zones/examples/complete/versions.tf
sof-aws/rede/.terraform/modules/zones/modules/delegation-sets/main.tf
sof-aws/rede/.terraform/modules/zones/modules/delegation-sets/outputs.tf
sof-aws/rede/.terraform/modules/zones/modules/delegation-sets/README.md
sof-aws/rede/.terraform/modules/zones/modules/delegation-sets/variables.tf
sof-aws/rede/.terraform/modules/zones/modules/delegation-sets/versions.tf
sof-aws/rede/.terraform/modules/zones/modules/records/main.tf
sof-aws/rede/.terraform/modules/zones/modules/records/outputs.tf
sof-aws/rede/.terraform/modules/zones/modules/records/README.md
sof-aws/rede/.terraform/modules/zones/modules/records/variables.tf
sof-aws/rede/.terraform/modules/zones/modules/records/versions.tf
sof-aws/rede/.terraform/modules/zones/modules/resolver-rule-associations/main.tf
sof-aws/rede/.terraform/modules/zones/modules/resolver-rule-associations/outputs.tf
sof-aws/rede/.terraform/modules/zones/modules/resolver-rule-associations/README.md
sof-aws/rede/.terraform/modules/zones/modules/resolver-rule-associations/variables.tf
sof-aws/rede/.terraform/modules/zones/modules/resolver-rule-associations/versions.tf
sof-aws/rede/.terraform/modules/zones/modules/zones/main.tf
sof-aws/rede/.terraform/modules/zones/modules/zones/outputs.tf
sof-aws/rede/.terraform/modules/zones/modules/zones/README.md
sof-aws/rede/.terraform/modules/zones/modules/zones/variables.tf
sof-aws/rede/.terraform/modules/zones/modules/zones/versions.tf
sof-aws/rede/.terraform/providers/registry.terraform.io/hashicorp/aws/4.61.0/windows_amd64/terraform-provider-aws_v4.61.0_x5.exe
sof-aws/hosts/.terraform/modules/modules.json
sof-aws/hosts/.terraform/providers/registry.terraform.io/hashicorp/aws/4.61.0/windows_amd64/terraform-provider-aws_v4.61.0_x5.exe
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terragrunt-init-required
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terragrunt-module-manifest
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terragrunt-source-manifest
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terragrunt-source-version
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/backend.tf
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/main.tf
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/outputs.tf
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/plan
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/terragrunt.hcl
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/variables.tf
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/modules.json
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/CHANGELOG.md
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/LICENSE
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/README.md
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/terragrunt_59.md
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/examples/complete/main.tf
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/examples/complete/outputs.tf
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/examples/complete/README.md
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/examples/complete/variables.tf
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/examples/complete/versions.tf
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/modules/delegation-sets/main.tf
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/modules/delegation-sets/outputs.tf
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/modules/delegation-sets/README.md
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/modules/delegation-sets/variables.tf
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/modules/delegation-sets/versions.tf
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/modules/records/main.tf
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/modules/records/outputs.tf
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/modules/records/README.md
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/modules/records/variables.tf
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/modules/records/versions.tf
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/modules/resolver-rule-associations/main.tf
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/modules/resolver-rule-associations/outputs.tf
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/modules/resolver-rule-associations/README.md
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/modules/resolver-rule-associations/variables.tf
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/modules/resolver-rule-associations/versions.tf
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/modules/zones/main.tf
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/modules/zones/outputs.tf
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/modules/zones/README.md
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/modules/zones/variables.tf
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/modules/zones/modules/zones/versions.tf
sof-aws/envs/prod/network/.terragrunt-cache/lFTbgU-nLbceiFb9_E2b-nn7HUE/mU7QQk7g-hedVx4ByMQG9qGoa5c/.terraform/providers/registry.terraform.io/hashicorp/aws/5.1.0/windows_amd64/terraform-provider-aws_v5.1.0_x5.exe
sof-aws/envs/prod/shiny-instance/.terragrunt-cache/FUcvp4g3aofJnX2PjWt5vJ5JCOA/oaX-S73YWgOj7G6u0Vv7EYVArO4/.terragrunt-init-required
sof-aws/envs/prod/shiny-instance/.terragrunt-cache/FUcvp4g3aofJnX2PjWt5vJ5JCOA/oaX-S73YWgOj7G6u0Vv7EYVArO4/.terragrunt-module-manifest
sof-aws/envs/prod/shiny-instance/.terragrunt-cache/FUcvp4g3aofJnX2PjWt5vJ5JCOA/oaX-S73YWgOj7G6u0Vv7EYVArO4/.terragrunt-source-manifest
sof-aws/envs/prod/shiny-instance/.terragrunt-cache/FUcvp4g3aofJnX2PjWt5vJ5JCOA/oaX-S73YWgOj7G6u0Vv7EYVArO4/.terragrunt-source-version
sof-aws/envs/prod/shiny-instance/.terragrunt-cache/FUcvp4g3aofJnX2PjWt5vJ5JCOA/oaX-S73YWgOj7G6u0Vv7EYVArO4/backend.tf
sof-aws/envs/prod/shiny-instance/.terragrunt-cache/FUcvp4g3aofJnX2PjWt5vJ5JCOA/oaX-S73YWgOj7G6u0Vv7EYVArO4/main.tf
sof-aws/envs/prod/shiny-instance/.terragrunt-cache/FUcvp4g3aofJnX2PjWt5vJ5JCOA/oaX-S73YWgOj7G6u0Vv7EYVArO4/terragrunt.hcl
sof-aws/envs/prod/shiny-instance/.terragrunt-cache/FUcvp4g3aofJnX2PjWt5vJ5JCOA/oaX-S73YWgOj7G6u0Vv7EYVArO4/variables.tf
sof-aws/envs/prod/shiny-instance/.terragrunt-cache/FUcvp4g3aofJnX2PjWt5vJ5JCOA/oaX-S73YWgOj7G6u0Vv7EYVArO4/.terraform/modules/modules.json
sof-aws/envs/prod/shiny-instance/.terragrunt-cache/FUcvp4g3aofJnX2PjWt5vJ5JCOA/oaX-S73YWgOj7G6u0Vv7EYVArO4/.terraform/providers/registry.terraform.io/hashicorp/aws/5.1.0/windows_amd64/terraform-provider-aws_v5.1.0_x5.exe
sof-aws/envs/prod/shiny-instance/.terragrunt-cache/JwtcTwt9s-KYvG2WHBvVKq91MrU/oaX-S73YWgOj7G6u0Vv7EYVArO4/.terragrunt-init-required
sof-aws/envs/prod/shiny-instance/.terragrunt-cache/JwtcTwt9s-KYvG2WHBvVKq91MrU/oaX-S73YWgOj7G6u0Vv7EYVArO4/.terragrunt-module-manifest
sof-aws/envs/prod/shiny-instance/.terragrunt-cache/JwtcTwt9s-KYvG2WHBvVKq91MrU/oaX-S73YWgOj7G6u0Vv7EYVArO4/.terragrunt-source-manifest
sof-aws/envs/prod/shiny-instance/.terragrunt-cache/JwtcTwt9s-KYvG2WHBvVKq91MrU/oaX-S73YWgOj7G6u0Vv7EYVArO4/.terragrunt-source-version
sof-aws/envs/prod/shiny-instance/.terragrunt-cache/JwtcTwt9s-KYvG2WHBvVKq91MrU/oaX-S73YWgOj7G6u0Vv7EYVArO4/backend.tf
sof-aws/envs/prod/shiny-instance/.terragrunt-cache/JwtcTwt9s-KYvG2WHBvVKq91MrU/oaX-S73YWgOj7G6u0Vv7EYVArO4/main.tf
sof-aws/envs/prod/shiny-instance/.terragrunt-cache/JwtcTwt9s-KYvG2WHBvVKq91MrU/oaX-S73YWgOj7G6u0Vv7EYVArO4/terragrunt.hcl
sof-aws/envs/prod/shiny-instance/.terragrunt-cache/JwtcTwt9s-KYvG2WHBvVKq91MrU/oaX-S73YWgOj7G6u0Vv7EYVArO4/variables.tf
sof-aws/envs/prod/shiny-instance/.terragrunt-cache/JwtcTwt9s-KYvG2WHBvVKq91MrU/oaX-S73YWgOj7G6u0Vv7EYVArO4/.terraform/modules/modules.json
sof-aws/envs/prod/shiny-instance/.terragrunt-cache/JwtcTwt9s-KYvG2WHBvVKq91MrU/oaX-S73YWgOj7G6u0Vv7EYVArO4/.terraform/providers/registry.terraform.io/hashicorp/aws/5.1.0/windows_amd64/terraform-provider-aws_v5.1.0_x5.exe
